* {
    margin: 0px;
    position: relative;
    font-family: 'Roboto Mono', monospace!important;
}

body {
    display: flex;
    flex-direction: column;
}

.full-screen {
    height: 100vh;
    width: 100vw;
}

.dark-theme {
    background-color: #303030;
    color: azure;
}

.main-container {
    top: 30%;
    margin: 0px 20px;
}

.heading {
    font-size: 1em;
    margin: 20px 0px;
}

.profile {
    font-size: 1em;
    font-weight: 100;
    color: rgb(39, 112, 230, .9);
}

.public-profiles {
    display: flex;
    flex-direction: row;
}

div .profile:first-child {
    padding: 0em 1em 0em 0em;
    /* background-color: red; */
}

div .profile:not(:first-child) {
    padding: 0em 1em
}

.title {
    font-size: 3em;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    font-size: inherit;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    font-size: inherit;
}

.light-theme {
    background-color: azure;
    color: black;
}

@media all and (max-width: 520px) and (min-width:310px) {
    .title {
        font-size: 1.7em;
    }
    .heading {
        font-size: .75em;
    }
    .profile {
        font-size: .75em;
        font-weight: 100;
        color: rgb(39, 112, 230, .9);
    }
}

@media all and (max-width: 309px) and (min-width:100px) {
    .title {
        font-size: 1em;
    }
    .heading {
        font-size: .75em;
    }
    .profile {
        font-size: .75em;
        font-weight: 100;
        color: rgb(39, 112, 230, .9);
    }
}