* {
    margin: 0px;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
}

.full-screen {
    height: 100vh;
    width: 100vw;
}

.dark-theme {
    background-color: #303030;
    color: azure;
}

.main-container {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Roboto Monospace', monospace;
}

.half-page {
    height: 50vh;
}

.hand-container {
    display: flex;
    flex-direction: column-reverse;
}

.page-container {
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: 1em;
    margin: 20px 0px;
}

.profile {
    font-size: 1em;
    font-weight: 100;
    color: rgb(39, 112, 230, .9);
}

.public-profiles {
    display: flex;
    flex-direction: row;
}

div .profile:first-child {
    padding: 0em 1em 0em 0em;
    /* background-color: red; */
}

div .profile:not(:first-child) {
    padding: 0em 1em
}

.title {
    font-size: 3em;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    font-size: inherit;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    font-size: inherit;
}

.light-theme {
    background-color: azure;
    color: black;
}

.next-page {
    font-size: 2em;
    margin: 0em 3em 4em 0em;
    align-self: flex-end;
}

.section {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    color: #4a4a4a;
}

.columns {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.about-me {
    margin: 20px 20px;
}

.column-left {
    width: 20vw;
    font-size: 2em;
    margin-left: 3em;
    display: flex;
}

.column-right {
    width: 80vw;
    margin-right: 5em;
    display: flex;
    flex-direction: column;
}

.para {
    text-align: justify;
    margin: 0px 25px;
    font-size: 1.5em;
}

.para p:first-child::first-letter {
    font-size: 2em;
}

.sub-section {
    display: flex;
    flex-direction: column;
}

.sub-section p {
    display: block;
    margin-left: 25px;
    font-weight: 300;
    font-family: monospace;
    font-size: 1.25em;
}

.sub-section span {
    /* Like a chip*/
    margin-left: 25px;
    background-color: #e0e0e0;
    color: rgba(0, 0, 0, .87);
    padding: 5px;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    background-color: #e0e0e0;
    margin: 10px 10px;
    padding: 5px 5px;
    border-radius: 10px;
}

/* Tab */

@media all and (max-width: 1300px) and (min-width: 521px) {
    .title {
        font-size: 1.7em;
    }
    .heading {
        font-size: .75em;
    }
    .profile {
        font-size: .75em;
        font-weight: 100;
        color: rgb(39, 112, 230, .9);
    }
    li {
        float: left;
        background-color: #e0e0e0;
        margin: 10px 10px;
        padding: 5px 5px;
        border-radius: 10px;
    }
    .sub-section p {
        font-size: 1.5em;
    }
    .columns {
        display: flex;
        flex-direction: row;
        margin: 0px;
    }
    .column-left {
        font-size: 1.7em;
        margin-left: 5px;
        display: flex;
    }
    .column-right {
        font-size: 0.75em;
        margin-right: 5px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
}

/* iPhone , Tab */

@media all and (max-width: 520px) and (min-width: 310px) {
    .title {
        font-size: 1.7em;
    }
    .heading {
        font-size: .75em;
    }
    .profile {
        font-size: .75em;
        font-weight: 100;
        color: rgb(39, 112, 230, .9);
    }
    li {
        float: left;
        background-color: #e0e0e0;
        margin: 10px 10px;
        padding: 5px 5px;
        border-radius: 10px;
    }
    .column-left {
        width: auto;
        font-size: 1em;
        margin-left: 5px;
    }
    .about-me {
        width: 6em;
        margin: 0px 0px;
        display: inline-block;
        white-space: nowrap;
    }
    .column-right {
        width: auto;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
    }
}

@media all and (max-width: 309px) and (min-width: 100px) {
    .title {
        font-size: 1em;
    }
    .heading {
        font-size: .75em;
    }
    .profile {
        font-size: .75em;
        font-weight: 100;
        color: rgb(39, 112, 230, .9);
    }
    .columns {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    li {
        float: left;
        background-color: #e0e0e0;
        margin: 10px 10px;
        padding: 5px 5px;
        border-radius: 10px;
    }
}